/* Style for the container div */
div {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  border: none;
  padding: 0px;
}

/* Style for the select element */
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Style for the custom file upload container */
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}



/* Style for the custom file input button */
.custom-file-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

/* Style for the custom file input button on hover */
.custom-file-button:hover {
  background-color: #0056b3;
}

/* Style for the Upload button */
button {
  background-color: #177a96;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
}

/* Style for the Upload button on hover */
button:hover {
  background-color: #00495d;
  /* opacity: 0.8; */
}

/* Style for the drag and drop container */
.drag-and-drop-container {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/* Style for the drag and drop container when dragging over */
.drag-and-drop-container.drag-over {
  border-color: #007bff;
  background-color: #f8f8f8;
}

.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #177a96;
}

.custom-dialog-container {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
